
a {
    text-decoration: none;
}
.banner{
    background-image: url(/asset/img/bg-home.jpg);
    min-height: 300px;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bg-triangle {
    background-image: url('/asset/img/bg-triangle-gray.jpg');
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
@media (max-width: 576px) {
    .banner {
        height: 40vh;
        background-attachment: scroll;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .banner {
        height: 50vh;
    }
}
/* =============================================================== */
/* Responsive Adjustments */
@media (max-width: 768px) {
    .login-resgister a{
        font-size: px;
    }
}

@media (min-width: 769px) {
    .offcanvas {
        display: none;
    }
    
}





